@import "~bootstrap/scss/bootstrap.scss";

$theme-colors: (  
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger
);

li:hover > i,
li > i:hover {
    visibility: visible;
}
li:hover{
    background-color: lighten(gray, 30%);
}
li > i{
    visibility: hidden;
}

.btn{
    background-color: $warning;
}

.btn:hover{
    background-color: $danger;
}

.btn:focus {
  background-color: $success;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
